<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.kingvi.foreigntrade.foreigntradesaleman.dao.ForeignTradeSalemanMapper" >
  <resultMap id="BaseResultMap" type="pers.kingvi.foreigntrade.po.ForeignTradeSaleman" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="CHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="working_time" property="workingTime" jdbcType="TINYINT" />
    <result column="age" property="age" jdbcType="TINYINT" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="main_product" property="mainProduct" jdbcType="VARCHAR" />
    <result column="store_link" property="storeLink" jdbcType="VARCHAR" />
    <result column="weChat" property="weChat" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="send_product_count" property="sendProductCount" jdbcType="TINYINT" />
    <result column="demand_count" property="demandCount" jdbcType="TINYINT" />
    <result column="user_status" property="userStatus" jdbcType="CHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, password, company, city, name, photo, industry, working_time, age, sex,
    main_product, store_link, weChat, phone, email, send_product_count, demand_count,
    user_status, register_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pers.kingvi.foreigntrade.po.ForeignTradeSalemanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from foreign_trade_saleman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from foreign_trade_saleman
    where id = #{id,jdbcType=BIGINT}
  </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from foreign_trade_saleman
        where id = #{id,jdbcType=BIGINT}
    </select>
  <select id="selectByFtsIdList" parameterType="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from foreign_trade_saleman
    where id in
    <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
      #{item}
    </foreach>
    order by id
  </select>
    <select id="selectByCriteria" parameterType="ForeignTradeSaleman" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from foreign_trade_saleman
        <where>
            <if test="account != null and account != ''">
                account = #{fts.account,jdbcType=VARCHAR}
            </if>
            <if test="company != null and company != ''">
                company like concat('%',#{fts.company,jdbcType=VARCHAR},'%')
            </if>
            <if test="city != null and city != ''">
                city = #{fts.city,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                name like concat('%',#{fts.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="industry != null and industry != ''">
                industry like concat('%',#{fts.industry,jdbcType=VARCHAR},'%')
            </if>
            <if test="mainProduct != null and mainProduct != ''">
                main_product like concat('%',#{fts.mainProduct,jdbcType=VARCHAR},'%')
            </if>
            <if test="weChat != null and weChat != ''">
                wechat = #{fts.weChat,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''">
                phone = #{fts.phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != ''">
                email = #{fts.email,jdbcType=VARCHAR}
            </if>
        </where>
        order by id desc limit #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER}
    </select>
    <select id="selectByParam" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        foreign_trade_saleman
        <where>
        or account = #{param,jdbcType=VARCHAR}
        or company like concat('%',#{param,jdbcType=VARCHAR},'%')
        or city = #{param,jdbcType=VARCHAR}
        or name = #{param,jdbcType=VARCHAR}
        or industry like concat('%',#{param,jdbcType=VARCHAR},'%')
        or main_product like concat('%',#{param,jdbcType=VARCHAR},'%')
        or wechat = #{text,jdbcType=VARCHAR}
        or phone = #{text,jdbcType=VARCHAR}
        or email = #{text,jdbcType=VARCHAR}
        </where>
        order by id desc limit #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER}
    </select>
    <select id="selectCountByParam" parameterType="string" resultType="integer">
        select count(*)
        from
        foreign_trade_saleman
        <where>
            or account = #{param,jdbcType=VARCHAR}
            or company like concat('%',#{param,jdbcType=VARCHAR},'%')
            or city = #{param,jdbcType=VARCHAR}
            or name = #{param,jdbcType=VARCHAR}
            or industry like concat('%',#{param,jdbcType=VARCHAR},'%')
            or main_product like concat('%',#{param,jdbcType=VARCHAR},'%')
            or wechat = #{text,jdbcType=VARCHAR}
            or phone = #{text,jdbcType=VARCHAR}
            or email = #{text,jdbcType=VARCHAR}
        </where>
    </select>
    <select id="selectCountByCriteria" parameterType="ForeignTradeSaleman" resultType="integer">
        select count(*)
        from
        foreign_trade_saleman
        <where>
            <if test="account != null and account != ''">
                account = #{fts.account,jdbcType=VARCHAR}
            </if>
            <if test="company != null and company != ''">
                company like concat('%',#{fts.company,jdbcType=VARCHAR},'%')
            </if>
            <if test="city != null and city != ''">
                city = #{fts.city,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                name like concat('%',#{fts.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="industry != null and industry != ''">
                industry like concat('%',#{fts.industry,jdbcType=VARCHAR},'%')
            </if>
            <if test="mainProduct != null and mainProduct != ''">
                main_product like concat('%',#{fts.mainProduct,jdbcType=VARCHAR},'%')
            </if>
            <if test="weChat != null and weChat != ''">
                wechat = #{fts.weChat,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''">
                phone = #{fts.phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != ''">
                email = #{fts.email,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectFullIndex" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from foreign_trade_saleman
        <where>
            or account like concat('%',#{text,jdbcType=VARCHAR},'%')
            or company like concat('%',#{text,jdbcType=VARCHAR},'%')
            or city like concat('%',#{text,jdbcType=VARCHAR},'%')
            or name = #{text,jdbcType=VARCHAR}
            or industry like concat('%',#{text,jdbcType=VARCHAR},'%')
            or main_product like concat('%',#{text,jdbcType=VARCHAR},'%')
            or wechat = #{text,jdbcType=VARCHAR}
            or phone = #{text,jdbcType=VARCHAR}
            or email = #{text,jdbcType=VARCHAR}
        </where>
        order by id desc limit #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER}
    </select>
    <select id="selectCountByFullIndex" resultType="integer" parameterType="string">
        select count(*)
        from foreign_trade_saleman
        <where>
            or account like concat('%',#{text,jdbcType=VARCHAR},'%')
            or company like concat('%',#{text,jdbcType=VARCHAR},'%')
            or city like concat('%',#{text,jdbcType=VARCHAR},'%')
            or name = #{text,jdbcType=VARCHAR}
            or industry like concat('%',#{text,jdbcType=VARCHAR},'%')
            or main_product like concat('%',#{text,jdbcType=VARCHAR},'%')
            or wechat = #{text,jdbcType=VARCHAR}
            or phone = #{text,jdbcType=VARCHAR}
            or email = #{text,jdbcType=VARCHAR}
        </where>
    </select>
    <select id="selectByList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from foreign_trade_saleman
        where id in
        <foreach collection="idList" item="item" index="index" open="(" close=")" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
        order by id desc limit #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER}
    </select>
  <select id="selectByAccount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from foreign_trade_saleman
    where account = #{account,jdbcType=VARCHAR}
  </select>
    <select id="selectByName" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from foreign_trade_saleman
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from foreign_trade_saleman
        desc limit #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from foreign_trade_saleman
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="pers.kingvi.foreigntrade.po.ForeignTradeSalemanExample" >
    delete from foreign_trade_saleman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ForeignTradeSaleman" >
    <!--<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>-->
    insert into foreign_trade_saleman (id, account, password, company,
      city, name, photo, industry,
      working_time, age, sex,
      main_product, store_link, weChat,
      phone, email, send_product_count,
      demand_count, user_status, register_time
      )
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{photo,jdbcType=CHAR}, #{industry,jdbcType=VARCHAR}, 
      #{workingTime,jdbcType=TINYINT}, #{age,jdbcType=TINYINT}, #{sex,jdbcType=CHAR},
      #{mainProduct,jdbcType=VARCHAR}, #{storeLink,jdbcType=VARCHAR}, #{weChat,jdbcType=VARCHAR},
      #{phone,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, #{sendProductCount,jdbcType=TINYINT},
      #{demandCount,jdbcType=TINYINT}, #{userStatus,jdbcType=CHAR}, #{registerTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="pers.kingvi.foreigntrade.po.ForeignTradeSaleman" >
    <!--<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>-->
    insert into foreign_trade_saleman
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="workingTime != null" >
        working_time,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="mainProduct != null" >
        main_product,
      </if>
      <if test="storeLink != null" >
        store_link,
      </if>
      <if test="weChat != null" >
        weChat,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="sendProductCount != null" >
        send_product_count,
      </if>
      <if test="demandCount != null" >
        demand_count,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="registerTime != null" >
        register_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=CHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="workingTime != null" >
        #{workingTime,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=TINYINT},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="mainProduct != null" >
        #{mainProduct,jdbcType=VARCHAR},
      </if>
      <if test="storeLink != null" >
        #{storeLink,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null" >
        #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sendProductCount != null" >
        #{sendProductCount,jdbcType=TINYINT},
      </if>
      <if test="demandCount != null" >
        #{demandCount,jdbcType=TINYINT},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=CHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pers.kingvi.foreigntrade.po.ForeignTradeSalemanExample" resultType="java.lang.Integer" >
    select count(*) from foreign_trade_saleman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update foreign_trade_saleman
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=CHAR},
      </if>
      <if test="record.industry != null" >
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.workingTime != null" >
        working_time = #{record.workingTime,jdbcType=TINYINT},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=TINYINT},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.mainProduct != null" >
        main_product = #{record.mainProduct,jdbcType=VARCHAR},
      </if>
      <if test="record.storeLink != null" >
        store_link = #{record.storeLink,jdbcType=VARCHAR},
      </if>
      <if test="record.weChat != null" >
        weChat = #{record.weChat,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=CHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.sendProductCount != null" >
        send_product_count = #{record.sendProductCount,jdbcType=TINYINT},
      </if>
      <if test="record.demandCount != null" >
        demand_count = #{record.demandCount,jdbcType=TINYINT},
      </if>
      <if test="record.userStatus != null" >
        user_status = #{record.userStatus,jdbcType=CHAR},
      </if>
      <if test="record.registerTime != null" >
        register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update foreign_trade_saleman
    set id = #{record.id,jdbcType=BIGINT},
      account = #{record.account,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=CHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      working_time = #{record.workingTime,jdbcType=TINYINT},
      age = #{record.age,jdbcType=TINYINT},
      sex = #{record.sex,jdbcType=CHAR},
      main_product = #{record.mainProduct,jdbcType=VARCHAR},
      store_link = #{record.storeLink,jdbcType=VARCHAR},
      weChat = #{record.weChat,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=CHAR},
      email = #{record.email,jdbcType=VARCHAR},
      send_product_count = #{record.sendProductCount,jdbcType=TINYINT},
      demand_count = #{record.demandCount,jdbcType=TINYINT},
      user_status = #{record.userStatus,jdbcType=CHAR},
      register_time = #{record.registerTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pers.kingvi.foreigntrade.po.ForeignTradeSaleman" >
    update foreign_trade_saleman
    <set >
      <if test="account != null and account != ''" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password != ''" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="company != null and company != ''" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="city != null and city != ''" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="photo != null and photo != ''" >
        photo = #{photo,jdbcType=CHAR},
      </if>
      <if test="industry != null and industry != ''" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="workingTime != null and workingTime != ''" >
        working_time = #{workingTime,jdbcType=TINYINT},
      </if>
      <if test="age != null and age != ''" >
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="sex != null and sex != ''" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="mainProduct != null and mainProduct != ''" >
        main_product = #{mainProduct,jdbcType=VARCHAR},
      </if>
      <if test="storeLink != null and storeLink != ''" >
        store_link = #{storeLink,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null and weChat != ''" >
        weChat = #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null and email != ''" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sendProductCount != null and sendProductCount != ''" >
        send_product_count = #{sendProductCount,jdbcType=TINYINT},
      </if>
      <if test="demandCount != null and demandCount != ''" >
        demand_count = #{demandCount,jdbcType=TINYINT},
      </if>
      <if test="userStatus != null and userStatus != ''" >
        user_status = #{userStatus,jdbcType=CHAR},
      </if>
      <if test="registerTime != null and registerTime != ''" >
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.kingvi.foreigntrade.po.ForeignTradeSaleman" >
    update foreign_trade_saleman
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=CHAR},
      industry = #{industry,jdbcType=VARCHAR},
      working_time = #{workingTime,jdbcType=TINYINT},
      age = #{age,jdbcType=TINYINT},
      sex = #{sex,jdbcType=CHAR},
      main_product = #{mainProduct,jdbcType=VARCHAR},
      store_link = #{storeLink,jdbcType=VARCHAR},
      weChat = #{weChat,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      send_product_count = #{sendProductCount,jdbcType=TINYINT},
      demand_count = #{demandCount,jdbcType=TINYINT},
      user_status = #{userStatus,jdbcType=CHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="pers.kingvi.foreigntrade.po.ForeignTradeSalemanExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from foreign_trade_saleman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <update id="decreaseSendProductCount" parameterType="integer">
        update foreign_trade_saleman
        set send_product_count = send_product_count - 1
        where id = #{id,jdbcType=BIGINT} and send_product_count > 0
    </update>
    <update id="decreaseDemandCount" parameterType="long">
        update foreign_trade_saleman
        set demand_count =  demand_count - 1
        where id = #{id,jdbcType=BIGINT} and demand_count > 0
    </update>
    <update id="resetSendProductCount">
        update foreign_trade_saleman
        set send_product_count = #{count,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="resetDemandCount">
        update foreign_trade_saleman
        set demand_count = #{count,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="resetAllSendProductCount" parameterType="integer">
        update foreign_trade_saleman
        set send_product_count = #{count,jdbcType=INTEGER}
    </update>
    <update id="resetAllDemandCount" parameterType="integer">
        update foreign_trade_saleman
        set demand_count = #{count,jdbcType=INTEGER}
    </update>
</mapper>